.postHeartGood {
  padding: 2px 5px 0 2px;
  width: 500px;
  height: 520px;

  position: relative;
  text-align: center;

  display: flex;
  justify-content: space-between;
}

.postHeartGood img {
  width: 28px;
  height: 28px;
}

.leftIcons {
  width: 120px;

  display: flex;
  justify-content: space-around;
}

.rightIcon {
  display: flex;
  justify-content: right;
}
