main {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 30px 0;
  padding-left: 230px;
}

.post-area {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendation-area {
  width: 320px;
  margin-top: 18px;
}
